* {
    box-sizing: border-box;
}

body {
    background-color: #eeeeee;
}

h1 {
    font-family: 'Righteous', cursive;
}

h2, p, button {
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    height: 92px;
    position: fixed;
    top: 0;
    background-color: #CF2B2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-left: 21px;
    z-index: 2;
}

header h1 {
    font-weight: 400;
    font-size: 44px;
    color: #ffffff;
    line-height: 55px;
}

header p {
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    line-height: 21px;
}

main {
    margin-top: 123px;
    margin-bottom: 108px;
    padding-left: 19px;
    display: flex;
    flex-direction: column;
    gap: 27px;
}

article {
    width: 100%;
}

article h1 {
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    color: #333333;
    letter-spacing: 1.8%;
    margin-bottom: 17px;
}

.itens {
    display: flex;
    gap: 16px;
    overflow: auto;
    max-width: 100vw;
}

.itens::-webkit-scrollbar {
    display: none;
  }

.item {
    position: relative;
    width: 172px;
    padding: 18px 14px 13px 14px;
    background-color: #ffffff;
    border-radius: 9px;
    cursor: pointer;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
}

.item ion-icon {
    display: none;
    position: absolute;
    bottom: 12px;
    right: 15px;
    color: #32B72F;
}

.item img {
    width: 144px;
    border-radius: 4px;
}

.item h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    margin-top: 8px;
    margin-bottom: 4px;
}

.item p {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #a6a6a6;
    margin-bottom: 5px;
}

.item p:last-child {
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    margin-bottom: 0;
    line-height: 19px;
}

.item input[type="radio"] {
   display: none;
}

.button {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 92px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.button button {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 20px;
    width: 364px;
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: none;
    background-color: #CBCBCB;
    padding-left: 80px;
    padding-right: 80px;
    cursor: pointer;
}

.selected {
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
}

.selected ion-icon {
    display: block;
}

.button .testButton {
    background-color: #32B72F;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}

.modal {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 3;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.9);
}

.activeModal {
    display: flex;
}

.center {
    width: 377px;
    padding: 21px 26px 0 25px;
    background-color: #50D074;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
}

.center h1 {
    font-weight: 700;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    line-height: 26px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 28px;
}

.center .selectedItems {
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin-bottom: 13px;
}

 .selectedItems .selectedItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
 }

 .center .total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 24px;
 }

 .buttonsConfirm {
    display: flex;
    flex-direction: column;
 }

 .buttonsConfirm button {
    width: 100%;
    height: 52px;
    border-radius: 100px;
    color: #50D074;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    border: none;
    cursor: pointer;
 }

 .buttonsConfirm button:last-child {
    background-color: #50D074;
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
    margin-top: 1px;
 }

@media  (min-width: 614px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    article {
        max-width: 500px;
    }
}
